.header {
  /*padding: 60px;*/
  top: 0;
  position: fixed;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  height: 350px;
  width: 100%;
  margin-left: 200px;*/
  overflow-x: hidden;
  font-family: "Courier New", Courier, monospace;
}

.sidebar {
  width: 25%; /* same width as menu */
  height: 100%;
  background-color: #eee;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
}

#avatar {
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 30%;
  border-radius: 50%;
}

.vertical-menu {
  width: 100%; /* Same as sidebar */
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}
